body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: darkcyan;
}

.opacity-100{
  opacity: 100%;
  transition: ease all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opacity-0{
  opacity: 0%;
  transition: ease all 0.5s;
}

.errorMessage{
  opacity: 100%;
  transition: ease all 0.5s;
  background-color: red;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  color: white;
  font-size: 1rem;
}
.sucessMessage{
  opacity: 100%;
  transition: ease all 0.5s;
  background-color: greenyellow;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  color: black;
  font-size: 1rem;
}